extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class='btn-group')
    button(type='button' class='btn btn-default') Left
    button(type='button' class='btn btn-default') Middle
    button(type='button' class='btn btn-default') Right
